.portfolio-cards {
    background-color: #cce5ff;
    padding: 15px;
    margin-bottom: 10px;
    border-color: #b8daff;
    border-radius: 15px;
    color: #004085;

    box-shadow: 0px 4px 8px 0px #cce5ff;
   
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

}
.portfolio-list li {
    margin-right: 30px;
}

.portfolio-card-title {
    text-align: center;
    padding: 10px;
}